body,
html
{
  height: 100%;
  }

body
{
  display: table;
  width: 100%;
  }


.link,
#albums .album
{
  cursor: pointer;
  color:#0000E9;
  }

.link:hover
{
  text-decoration: underline;
  }

#albums,
#center,
#right
{
  float:none;
  display: table-cell;
  overflow: auto;
  padding: 10px;
  }

#albums
{
/*  float: left;*/
  min-width: 40ex;
  }

#center
{
  width: auto;
  }

#right
{
  margin-right: 10px;
  }

#albums .album,
#right .song
{
  padding-left: 2rem;
  }

#right .song .delete
{
  float:right;
  margin-right:10px;
  }

#right .current
{
  background:url(../img/play.png) center left no-repeat;
  }
