body
{
  display: table;
  width: 100%;
  }

#albums,
#center,
#right
{
  float: none;
  display: table-cell;
  overflow: hidden;
  padding: 10px;
  }

#albums
{
  min-width: 40ex;
  }

#center
{
  width: auto;
  }

#right .delete
{
  float:right;
  margin-right:10px;
  }

#right .current
{
  background:url(../img/play.png) center left no-repeat;
  }

.do-first
{
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  }

.do-first::before
{
  content: "←";
  display:block;
  float: left;
  font-size: 5rem;
  line-height: 2rem;
  }

#center img
{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1rem;
  }

.link
{
  padding-left: 2rem;
  display: block;
  cursor: pointer;
  color:#0000E9;
  }

.link:hover
{
  text-decoration: underline;
  }

/* override/overload some bootsrap classes. */

.btn
{
  font-weight: bold;
  margin: 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  }
