<!DOCTYPE html>
<html lang="en" data-ng-app>
  <head>
    <meta charset="utf-8">
    <title>music-player</title>
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/player.css">
    <script type="text/javascript" src="music-data.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
  </head>
  <body data-ng-controller="DirectoriesList"
        data-ng-keydown="onKeyDown($event)">
    <div id="wrapper">

      <div id="library-div">
        <h3>Artist / Albums</h3>
        <table class="table table-bordered">
          <tr data-ng-repeat="artist in library.artists">
            <td>
              <!-- artists will be undefined -->
              <h4 data-ng-click="toggleArtist($index)">
                {{artist.name}}
              </h4> 
              <div class="album link"
                   data-ng-repeat="album in library.artists[$index].albums"
                   data-ng-click="selectAlbum($parent.$index, $index)"
                   data-ng-show="isExpanded($parent.$index)">
                {{album.title}}
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!--
      Here is the trick: putting a "float: right" div before
      another div will make this other div take place at the left
      of the "float: right" one and expands as much as it can.
      -->

      <div id="player-div">
        <h3>Playlist</h3>
        <audio id="player" controls></audio>
        <div class="btn btn-default"
             data-ng-class="{'disabled': !playlistTracks.length}"
             data-ng-click="deleteAllTracks()">
          Clear playlist
        </div>
        <div class="btn btn-default glyphicon glyphicon-play-pause"
             data-ng-class="{'disabled': !playlistTracks.length}"
             data-ng-click="playPause()">
        </div>
        <div class="btn btn-default glyphicon glyphicon-fast-backward"
             data-ng-class="{'disabled': !playlistTracks.length}"
             data-ng-click="prevTrack()">
        </div>
        <div class="btn btn-default glyphicon glyphicon-fast-forward"
             data-ng-class="{'disabled': !playlistTracks.length}"
             data-ng-click="nextTrack()">
        </div>
        <div class="btn btn-default glyphicon glyphicon-random"
             data-ng-class="{'disabled': !playlistTracks.length}"
             data-ng-click="shuffle()">
        </div>
        <p class="do-first" data-ng-if="!playlistTracks.length">
          <strong>Select a track.</strong>
        </p>
        <table class="table table-bordered table-hover"
               data-ng-if="playlistTracks.length">
          <tr data-ng-repeat="track in playlistTracks track by $index">
            <td>
              <span data-ng-if="$index==currentTrackIndex"
                    class="current-icon glyphicon glyphicon-play-circle">
              </span>
              <!-- CSS trick: add the "float:right" element first -->
              <span data-ng-if="$index!=currentTrackIndex"
                    data-ng-click="deleteTrack($index)"
                    class="delete glyphicon glyphicon-trash">
              </span>
              <span class="track link"
                    data-ng-click="playIndex($index)">
                {{trimTrack(trackTitle(track))}}
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div id="album-div">
        <div>
          <h3>{{currentAlbumTitle}}</h3>
          <img src="{{library.prefix}}/{{currentAlbumArtist}}/{{currentAlbumTitle}}/{{currentAlbumCover}}" alt="{{currentAlbumCover}}" />
        </div>
        <div class="btn btn-default"
             data-ng-class="{'disabled': !currentAlbumTracks.length}"
             data-ng-click="addAlbum(artistId, albumId)">
          Add All
        </div>
        <p class="do-first" data-ng-if="!currentAlbumTracks.length">
          <strong>Choose an album.</strong>
        </p>
        <table class="table table-bordered table-hover"
               data-ng-if="currentAlbumTracks.length">
          <tr data-ng-repeat="track in currentAlbumTracks">
            <td>
              <span data-ng-click="playPath(track.path)"
                    class="play-preview glyphicon glyphicon-play-circle">
                <!-- FIXME: Broken in new app -->
              </span>
              <span data-ng-click="addTrack(artistId, albumId, $index)"
                    class="link">
                {{trimTrack(track)}}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
