html,
body,
#wrapper
{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  }

#library-div,
#album-div,
#player-div
{
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 10px;
  }

#library-div
{
  float: left;
  min-width: 40ex;
  width: auto;
  }

#album-div
{
  width: auto;
  }

#player-div
{
  float: right;
  min-width: 40ex;
  width: auto;
  }

#player-div .delete,
.play-preview
{
  float: right;
  margin-right:10px;
  }

.play-preview
{
  color: grey;
}

.play-preview:hover
{
  color: black;
  }

.do-first
{
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  }

.do-first::before
{
  content: "←";
  display:block;
  float: left;
  font-size: 5rem;
  line-height: 2rem;
  }

#album-div img
{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1rem;
  }

.link
{
  padding-left: 2rem;
  display: block;
  cursor: pointer;
  color:#0000E9;
  }

.link:hover
{
  text-decoration: underline;
  }

#player
{
  display: block;
  width: 100%;
}

.current-icon
{
  font-size: 1.5rem;
  float: left;
  }

/* override/overload some bootsrap classes. */

.btn
{
  font-weight: bold;
  margin: 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  }

.glyphicon-play-pause:before
{
  content:"\e072\e073";
  }
